<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Dosis:wght@200;300;400&family=IBM+Plex+Sans+JP&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/home.css' %}">
    <title>HvA - IM - DATAPORTAL</title>
</head>
<body>
    <div class='grid'>
        <a href="hva"><img src="\static\images\logohvablack.png"></a>
        <a href="im"><img src="\static\images\imlogo.png"></a>
        <h1>DATA PORTAL</h1>
    </div>
</body>
</html>