body {
    background-color: #fefefa;
}

.grid {
    width: fit-content;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2cm;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
}